.white-text {
    color: #FFFFFF;
}
.white-bg {
    background-color: #FFFFFF;
}
.natural-grey-text {
    color: #CFD8DC;
}
.natural-grey-bg {
    background-color: #CFD8DC;
}
.natural-black-text {
    color: #2b3033;
}
.natural-black-bg {
    background-color: #2b3033;
}
.indigo-white-text {
    color: #E8EAF6;
}
.indigo-white-bg {
    background-color: #E8EAF6;
}
.light-pink-text {
    color: #FCE4EC
}
.light-pink-bg {
    background-color: #FCE4EC;
}
.mid-salmon-text {
    color: #EF9A9A;
}
.mid-salmon-bg {
    background-color: #EF9A9A;
}
.lavender-text {
    color: #CE93D8;
}
.lavender-bg {
    background-color: #CE93D8;
}
.vivid-purple-text {
    color: #E040FB;
}
.vivid-purple-bg {
    background-color: #E040FB;
}
.natural-blue-text {
    color: #7986CB;
}
.natural-blue-bg {
    background-color: #7986CB;
}
.vivid-blue-text {
    color: #304FFE;
}
.vivid-blue-bg {
    background-color: #304FFE;
}
.light-blue-text {
    color: #BBDEFB;
}
.light-blue-bg {
    background-color: #BBDEFB;
}
.pretty-ocean-blue-text {
    color: #81D4FA;
}
.pretty-ocean-blue-bg {
    background-color: #81D4FA;
}
.vivid-cyan-text {
    color: #18FFFF;
}
.vivid-cyan-bg {
    background-color: #18FFFF;
}
.vivid-magic-green-text {
    color: #64FFDA;
}
.vivid-magic-green-bg {
    background-color: #64FFDA;
}



