@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Langar&family=Roboto+Mono:wght@300&family=Yellowtail&display=swap');/*Universals Start*/
.langar {
    font-family: 'Langar';
}
.yellowtail {
    font-family: 'Yellowtail';
}
.bungee {
    font-family: 'Bungee Outline';
}
.roboto {
    font-family: 'Roboto Mono';
}
.width-100 {
    width: 100%;
}
/*Universals End*/

.main-navbar {
    height: 5vw;
    margin-top: 2.5vw;
    overflow: visible;
    position: fixed;
}

.main-navbar-link {
    text-decoration: none;
    font-size: 1.75vw;
    margin-right: 0.25vw;
}

.bwd-navbar-logo {
    width: 50px;
    height: 50px;
    left: 10px;
    position: absolute;
}

.bwd-navbar-logo-text {
    left: 75px;
    position: absolute;
    font-size: 2vw;
}

.main-navbar-selections {
    position: absolute;
    right: 10px;
}

/*Main Landing Starts*/
.main-lander {
    height: 100vh;
    background-image: url('../images/computer-technician.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-lander-text-p {
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.555);
}
/*Main Landing Ends*/

/*Main About Section Start*/
.main-about {
    height: 50vh;
}
.main-about-header {
    font-size: 7.5vw;
    margin-top: 0;
    margin-bottom: 0;
}

.main-about-box {
    width: 350px;
    height: 45vh;
    background-color: pink;
    border: solid 2px black;
    margin-right: 10px;
}

/*Main About Section End*/

/*FLex Code Start*/
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/*FLex Code End*/

/*Footer Section Starts*/
.main-footer {
height: 50vh;
}
.bwd-footer-logo {
    width: 150px;
    height: 150px;
    left: 10px;
    position: absolute;
}
.bwd-footer-logo-text {
    left: 75px;
    position: absolute;
    font-size: 2vw;
}
.main-footer-selections {
    position: absolute;
    right: 10px;
}
.main-footer-link {
    text-decoration: none;
    font-size: 1.75vw;
    margin-right: 0.25vw;
}
/*Footer Section Ends*/