@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Redressed&display=swap');
.redressed {
    font-family: 'Redressed';
}
.bungee {
    font-family: 'Bungee Outline';
}
.open-sans {
    font-family: 'Open Sans';
}
.width-100 {
    width: 100%;
}
/*Universals End*/

.main-navbar {
    height: 5vw;
    margin-top: 2.5vw;
    overflow: visible;
    position: fixed;
}

.main-navbar-link {
    text-decoration: none;
    font-size: 1.75vw;
    margin-right: 0.25vw;
}

.bwd-navbar-logo {
    width: 50px;
    height: 50px;
    left: 10px;
    position: absolute;
}

.bwd-navbar-logo-text {
    left: 75px;
    position: absolute;
    font-size: 2vw;
}

.main-navbar-selections {
    position: absolute;
    right: 10px;
}

/*Main Landing Starts*/
.main-lander {
    height: 100vh;
    /* background-image: url('../images/computer-technician.png');
    background-size: cover;
    background-repeat: no-repeat; */
}

.main-lander-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.main-lander-text-p {
    font-size: 5vw;
}
/*Main Landing Ends*/

/*Main About Section Start*/
.main-about {
    height: 100vh;
    margin-top: 25px;
}
.main-about-header {
    font-size: 7.5vw;
    margin-top: 0;
    margin-bottom: 0;
}

.main-about-box {
    width: 350px;
    height: 45vh;
    background-color: rgb(151, 151, 151);
    border: solid 2px black;
    margin-right: 10px;
} 

.main-about-text-section {
    position: absolute;
}

.main-about-box-text-header {
    margin-bottom: 10px;
    text-align: center;
}

.main-about-box-text {
    margin-bottom: 0;
    margin-top: 0;
}

.main-about-box canvas {
    width: 100%;
    height: 100%;
}

#particles-js {
}

/*Main About Section End*/

/*FLex Code Start*/
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/*FLex Code End*/

/*Footer Section Starts*/
.main-footer {
    height: 100px;
}

.bwd-footer-logo {
    width: 75px;
    height: 75px;
    left: 10px;
    position: absolute;
}
.bwd-footer-logo-text {
    left: 75px;
    position: absolute;
    font-size: 2vw;
}
.main-footer-selections {
    position: absolute;
    right: 10px;
}
.main-footer-link {
    text-decoration: none;
    font-size: 1.75vw;
    margin-right: 0.25vw;
}
/*Footer Section Ends*/