@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@500&family=Rubik:wght@500&family=Source+Sans+Pro:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.redressed {
  font-family: "Redressed";
}
.Pacifico {
  font-family: 'Pacifico';
}
.bungee {
  font-family: "Bungee Outline";
}
.open-sans {
  font-family: "Open Sans";
}
.oswald {
  font-family: "Oswald";
  font-weight: 500;
}
.noto-serif {
  font-family: "Noto Sans JP";
}

.rubik {
  font-family: "Rubik";
}
.rubik-link {
  font-family: "Rubik";
  font-weight: 100;
}
.rubik-description {
  font-family: "Rubik";
  font-weight: 100;
  font-size: 1.25vw;
}
.width-100 {
  min-width: 100%;
}
.no-text-decoration {
  text-decoration: none;
}
.black-bg {
  background-color: black;
}
.contact-text {
  font-size: 1.5rem;
}
.contact-us-portraits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  position: relative;
}

.bio-pic-index {
width: 25vw;
height: 25vw;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
html {
  background-color: #ececef;
}

nav {
  height: 110%;
}
/*Universals End*/

.main-hero-dim {
  min-height: 100%;
  min-width: 100%
}
.main-navbar {
  height: 5.25vw;
  margin-top: 2.5vw;
  overflow: visible;
  position: fixed;
  transition: all 1s;
  z-index: 3;
}

.main-navbar-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.75vw;
  margin-right: 0.85vw;
  margin-left: 0.85vw;
}

.main-navbar-link:hover {
  color: #22ffdb;
  transition: color 1s;
}

.bwd-navbar-logo {
  width: 3.5vw;
  height: 3.5vw;
  left: 10px;
  margin-top: 5px;
  position: absolute;
}

.brand-logo {
  font-family: 'Pacifico';
}

.bwd-navbar-logo-text {
  left: 75px;
  position: absolute;
  font-size: 2vw;
}

.main-navbar-selections {
  position: absolute;
  right: 10px;
}

/*Main Landing Starts*/
.main-lander {
  height:100vw;
  background-image: url('./hero.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.small-logo-animation-container {
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.flex-column .main-lander {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 7.5vw;
  color: #d3d3d3; 
  margin-bottom:35%;
  justify-content: center;
  height: 25vh;
  text-align: center;
  font-family: 'Pacifico';
  color: rgb(63, 241, 158)
}

  .m-corrector {
  /* background-color: rgba(0, 0, 0, 0.281); */
}                                                          
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;                                                                                                                                                                                                                                                                                                                                                                                                                                    
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

/*Main Landing Ends*/

/*Main About Section Start*/
.main-about {
  height: 150vh;
  padding-bottom: 5vw;
}
.main-about-header {
  font-size: 1.5em;
  font-weight: 650;
  color: #333333;
}

.main-about-box-1 {
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(./block-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #bbbbbb;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-about-box-2 {
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(./block.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #bbbbbb;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-about-box-3 {
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(./block-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 5px #bbbbbb;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-about-box-text-header {
  margin-bottom: 0;
  text-align: center;
  color: #81c7bb;
  font-size: 2vw;
  text-decoration: underline;
}

.main-about-box-text {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-size: 0.75em;
  color: #333333;
  font-size: 1.25em;
}

.main-about-box canvas {
  width: 100%;
  height: 100%;
}

#particles-js {
}

.particles-js-canvas-el {
  z-index: 0;
}

/*Main About Section End*/

/*FLex Code Start*/
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*FLex Code End*/

/*Contact Page*/
.contact-info-section {
  height: 50vw;
  margin-top: 0;
  margin-bottom: 5%;
}
.contact-info-text-section {
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.contact-info-header {
  font-size: 3.25vw;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.btn-large {
  margin-top: 2.5%;
}
.contact-info-text-header {
  font-size: 2.25vw;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.contact-info-text {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  font-size: 2.25vw;
}
.contact-info-text:hover {
  color: #22ffdb;
  transition: color 1s;
}

/*index hero about starts*/
.hero-index-header {
  color: black;
}
.hero-index-about {
  width: 100%;
  height: 65vh;
  background-repeat: no-repeat;
  /* background-image: url(./hero-minimal-bg-white-lines.png); */
  background-size: cover;
  margin-bottom: 25%;
}
.hero-index-about-text-section {
  width: 85%;
  text-align: center;
  font-weight: 600;
}

.hero-index-about-text-section-text {
  font-size: 1.25em;
}

/*Footer Section Starts*/
.main-footer {
  height: 3vw;
  min-width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 3;
}

.bwd-footer-logo {
  width: 2.5vw;
  height: 2.5vw;
  left: 10px;
  position: absolute;
}
.bwd-footer-logo-text {
  left: 75px;
  position: absolute;
  font-size: 1.25em;
}
.main-footer-selections {
  position: absolute;
  right: 10px;
}
.main-footer-link {
  text-decoration: none;
  font-size: 1.75vw;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}
.main-footer-link:hover {
  color: #22ffdb;
  transition: color 1s;
}
/*Footer Section Ends*/

/* About Us*/
    .about-us-section { 
        width: 100%;
  height: 150vh;
  background-repeat: no-repeat;
  background-image: url(./hero-minimal-bg-white-lines.png);
  background-size: cover;
    }

    .about-us-section-header {
        font-family: 'Source Code Pro';
    }

    .about-us-section-text-section {
        font-family: 'Source Code Pro';
        width: 85%;
    }

    .about-us-section-text-section-text {
        font-family: 'Source Code Pro';
        width: 85%;
    }

    .about-us-pro-pic {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
    }



/*at media stuff */

/*Phones start*/
@media only screen and (max-width: 812px) {
  .main-navbar {
    height: 15vw;
    margin-top: 0;
    overflow: visible;
    position: fixed;
    transition: all 1s;
    z-index: 3;
  }

  .main-navbar-selections {
    margin-top: 2.5vw;
  }

  .bwd-navbar-logo {
    width: 7vw;
    height: 7vw;
    left: 10px;
    top: 17.5px;
    position: absolute;
  }

  .bwd-navbar-logo-text {
    left: 50px;
    position: absolute;
    font-size: 1.5rem;
    margin-top: 2.5vw;
  }

  .main-navbar-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;  
  }
  
  .main-about-box {
    width: 250px;
  }

  .main-about-box-text {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 0.75em;
    font-weight: 800;
  }

  .main-footer {
    height: 10vw;
    min-width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 3;
  }

  .bwd-footer-logo {
    width: 7.5vw;
    height: 7.5vw;
    left: 10px;
    position: absolute;
  }

  .main-footer-link {
    font-size: 4vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
  }
}
/*Tablet end*/
